* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}



.main {
    width: 100vw;
    background-color: aliceblue;
    padding: 2rem 0 1rem 0;

    display: flex;
    justify-content: space-between;
}


.main .side {
    padding-top: 2rem;
    padding-right: 2rem;
}

.main .side a {
    padding: 1rem 2.5rem;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    color: #001c64;
    font-weight: 700;
}

.main .side a:hover {
    background-color: #0a3aad;
    color: #fff;

}


/* footer  */
footer {
    position: absolute;
    bottom: 0;
    margin: 5rem;
}


.foot1 {
    display: flex;
    justify-content: space-between;
}

.foot1 .link-foot a {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: 900;
    color: #001c64;
}

.foot1 .img img {
    height: 1rem;
    width: 1rem;
}

.line {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.16);
    /* padding: 1rem 0; */
    margin: 2rem 1rem 2rem 1rem;
}

.first {
    letter-spacing: normal;
    margin: 1rem;
}

.second {
    letter-spacing: normal;
    margin: 1rem;
}